*{
    margin: 0;
}
.container{
    width: 100%;
    height: 600px;
    
}
.content{
    width: 80%;
    height:97%;
    background-color: hsl(0, 11%, 85%);
   padding-top: 1%;
    margin: auto;
}
.info{
    width: 70%;
    height: 65%;
    margin: auto;
    margin-top: 10%;
   
}
.item1{
    width: 31%;
    height: 97%;
    margin-left: 20px;
    background-color: hsl(31, 77%, 52%);
    float: left;
}
.item2{
    width: 31%;
    height: 97%;
    background-color: hsl(184, 100%, 22%);
    margin-bottom: 2%;
    float: left;
}
.item3{
    width: 31%;
    height: 97%;
    background-color: hsl(179, 100%, 13%);
    margin-bottom: 2%;
    float: left;
}
.img{
    padding-top: 20px;
    margin-left: 20px;
}
.h2{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 20px;
    color: white;
}
.par{
    text-align: center;
    margin-bottom: 85px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.span{
    margin-left: 20px;
    border: 2px solid white;
    color: white;
    border-radius:20px;
    padding: 10px;
   
}
span:hover {
    background-color: rgb(39, 37, 37);
  }